*

!tcl-cli/
!dev-wp-gutenberg/
!dev-wp-flexible/

!tcl-cli/**/*
!dev-wp-gutenberg/**/*
!dev-wp-flexible/**/*

!.gitignore

tcl-cli/node_modules/
tcl-cli/package-lock.json

dev-wp-gutenberg/node_modules/
dev-wp-gutenberg/package-lock.json

dev-wp-flexible/node_modules/
dev-wp-flexible/package-lock.json

*.swp
*~
*.iws
*.log
.idea/
.vscode/
.htaccess
.DS_Store
*.iml
out/
gen/
